.row {
    height: 100%;
}

[class*="col"] {
    background: #fbc3cb;
    border: 1px solid black;
    height: 200px;
    padding: 15px;
    text-align: center;
    line-height: 170px;
}

[class*="col"] > .row > [class*="col"] 
{
   height: 100%;
}

.nested {
    display: flex;
    align-items: center;
    line-height: normal;
    justify-content: center;
    border: 1px solid white;
    background-color: #f07f80;
}