.row {
    height: 100%;
}

[class*="col"] {
    background: #fbc3cb;
    border: 1px solid black;
    height: 200px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

[class*="col"] > .row > [class*="col"] 
{
   height: 100%;
}