.col {
    height: 100%;
}
.row {
    height: 80px;
}
.black {
    background-color: black;
}

.lightgray {
    background-color: rgba(173,173,173,255);
}

.gray {
    background-color: rgb(60,60,60);
}

.white {
    background-color: rgba(255,255,255,255);
}

.red {
    background-color: rgb(227,60,60);
}

.green {
    background-color: #61bb46;
}

.lightviolet {
    background-color: rgba(194,185,250,255);
}

.darkgray {
    background-color: #2b2b2b;
}

.middlegray {
    background-color: #575757;
}

.lesslightgray {
    background-color: #7d7d7d;
}

.yellow {
    background-color: rgba(253,184,39,255);
}

.orange {
    background-color: #f5821f;
}

.purple {
    background-color: #963d97;
}

.blue {
    background-color: #009ddc;
}

h1 {
    text-align: center;
    font-size: 60px;
}

h2 {
    text-align: center;
    margin: 20px;
    font-size: 20px;
}

body {
    font-family: 'Playfair Display', serif;
}

#love {
    color: rgb(227,60,60);
}