.col {
    height: 100%;
}
.row {
    height: 80px;
}
.black {
    background-color: black;
}

.lightgray {
    background-color: rgba(173,173,173,255);
}

.gray {
    background-color: rgb(60,60,60);
}

.white {
    background-color: rgba(255,255,255,255);
}

.red {
    background-color: #fc0c0c;
}

.green {
    background-color: #64fc04;
}

.lightviolet {
    background-color: rgba(194,185,250,255);
}